.btn {
    background: #060029e8;
    color: #FFFFFF;
    border: 0;
    box-shadow: 3px 2px #020099A0;
    padding: 10px 20px;
    transition: background 0.3s ease; /* Add a smooth transition for better UX */
  }
  
  .btn-hover:hover {
    background: #a8a5e9;
    cursor: pointer;
  }