.btn {
    background: #623ac7;
    color: #FFFFFF;
    border: 0;
    box-shadow: 3px 2px #e6d5ff;
    padding: 10px 20px;
    transition: background 0.3s ease; 
    /* Add a smooth transition for better UX */
  }
  
  .btn:hover {
    background: #3b00a7e8;
    box-shadow: rgba(165, 153, 249, 0.959) 0 0 5px 1.2px;
    color:#FFFFFF;
    cursor: pointer;
  }

.entry {
  padding: 0.75rem;
  font-size: 1.25rem;
  margin-bottom: 1.5vh;
  border: 0;
  background-color: #E7EDFF;
  color:#071d26bd;
}
.entry:hover{
  box-shadow: rgb(233, 232, 241) 0 0 5px 1.2px;
}

.form{
  margin-right: 10%;
}
.img-container{
  display: flex;
  z-index: -1;
  position: absolute;
  left:calc(35% + 1em);
  opacity: 25%;
}
.img-pos{
  display: inline;
  margin: auto;
  height: fit-content;
  width: fit-content;
}